<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Demostration of Angular Expression</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <script src="angular.min.js">
        </script>
    </head>
    <body>
        <div ng-app="">
            <p>    Enter Price  : <input type="text" ng-model="kprice" ng-init="kprice=0" placeholder="Enter Price of keyboard"></p>
            <p>    Enter Quantity  : <input type="text" ng-model="kqnt" ng-init="kqnt=0" placeholder="Enter Number of keybord you bought"></p>
        
           <h1 style="text-align: center;font-size: 300%">Total Amount:{{kprice*kqnt}} <span ng-bind="name"></span></h1>
           <h1 style="text-align: center;font-size: 300%">Total Amount:{{kprice*1+kqnt*1}} <span ng-bind="name"></span></h1>
        </div>
    </body>
</html>
