<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="angular.min.js">
        </script>
    </head>
    <body>
        <div ng-app="">
            <h2>Select To Display Message<input type="number" ng-init="vDisplay = 0" ng-model="vDisplay"
                                                >            </h2>
            <div ng-if="vDisplay==8">
                <h2 style="color: red">Welcome to AngularJs

                </h2>
                <h2 style="color: blue">this is framwork by google</h2>
            </div>
        </div>
    </body>
</html>
